.ngGroupPanel{
    background-color: #F5C864;
}

.panel-grid{
	color: #002157;
	font-size: inherit;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.2em;
	-moz-box-shadow: 0px 0px 10px 0px #333333;
	-webkit-box-shadow: 0px 0px 10px 0px #333333;
	box-shadow: 0px 0px 10px 0px #333333;
}

.panel-grid .panel-heading{
	font-size: inherit;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.2em;
	-moz-box-shadow: 0px 0px 10px 0px #333333;
	-webkit-box-shadow: 0px 0px 10px 0px #333333;
	box-shadow: 0px 0px 10px 0px #333333;
}

/*.ngViewport{
	color: #002157;
	font-size: inherit;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.2em;
	-moz-box-shadow: 0px 0px 10px 0px #333333;
	-webkit-box-shadow: 0px 0px 10px 0px #333333;
	box-shadow: 0px 0px 10px 0px #333333;
}*/

.ngHeaderContainer , .ngFooterPanel{
	color: #002157;
	font-size: inherit;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.2em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 0px 10px 0px #333333;
	-webkit-box-shadow: 0px 0px 10px 0px #333333;
	box-shadow: 0px 0px 10px 0px #333333;
}

.ngHeaderCell{
	/*background-color: #9BBB59;*/
	
}

.pinned{
	color: #002157;
	font-size: inherit;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.2em;
	
	box-shadow: 0px 0px 1px 0px #333333;
}

.ngRow.odd{
	background-color: #eef3f6;
}

.ngRow.even{
	background-color: #FFFFFF;
}

.ngRow.selected{
	/*background-color: #51A351;*/
	color: black;
	background-color: #bbd9ed;
	font-size: inherit;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	text-decoration: inherit;
	line-height: 1.2em;
	-moz-box-shadow: 0px 0px 10px 0px #333333;
	-webkit-box-shadow: 0px 0px 10px 0px #333333;
	box-shadow: 0px 0px 10px 0px #333333;
}