.clstdnumber{
    text-align: right;
}

.clstdcenter{
    text-align: center;
}

.menukiri{
    text-align: left;
    padding-left: 5px;
}

.table-responsive{
    overflow: auto;
}

.txtNone{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    /*color: #CCC;*/
}

.toolbarmain{
    padding-top: 2px; 
    padding-left: 2px;
    height: 35px;
    background:#D5E2F2;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    position: absolute;  
    left: 1px; 
    right: 1px; 
    top: 35px; 
    bottom: 30px; 
    overflow: hidden;
}

.main {
    /*padding: 20px;*/
    position: fixed;
    top: 40px;
    /*left: 0px;*/
    bottom: 0px;
    right: 0px;
    overflow: auto;
}

#header .title{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#header .btn-group{
    margin-top: 5px;
}

/*Style for ng-grid*/
.ngMerah{
    background-color: red;
    color: white;
}

.ngKuning{
    background-color: #F0FB85;
    color: white;
}

.ngHijau{
    background-color: green;
    color: white;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
   /* background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}*/


/*Angular Grid */
.ag-cell-focus{
    background-color: #DBF0E5;
    font-weight: bold;
    color: blue;   
}

.pagination .ng-scope{
    cursor : pointer;
}

.gridStyleAg {
    border: 1px solid rgb(212,212,212);
    height: 300px;
    /*position: absolute;  
    left: 1px; 
    right: 1px; 
    top: 35px; 
    bottom: 80px; 
    overflow: hidden;*/
}

.paging-fo{
    border: 0px solid rgb(212,212,212);
    /*position: absolute;  
    left: 1px; 
    bottom: 40px; 
    overflow: hidden;*/
    padding: -20px 0 -20px 0;
    padding-top: 2px;
    padding-left: 2px;
    height: 35px;
    background: #D5E2F2;
    
}

.paging-fo ul{ 
    float: left;
}
.paging-fo .total{
    margin-top: 5px;
    float: left;
}
.pagination{
    margin: 0;
}